button {
    width: 100px;
    height: 100px;
    background: rgb(215, 215, 215);
    border: none;
    border: 1px solid black;
    font-size: 50px;
}

.X {
    background-color: dodgerblue;
}

.O {
    background-color: lightgreen;
}