main {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 0;
}

button {
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    
}